export NPM_TOKEN=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
export CLAUDE_CODE_ENABLE_TELEMETRY=1
export OTEL_METRICS_EXPORTER=otlp
export OTEL_LOGS_EXPORTER=otlp
export OTEL_EXPORTER_OTLP_PROTOCOL=grpc
export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
export METRICS_API_URL=http://localhost:3001/api/v1
source_env ~/.envrc
